<h2>Por región</h2>
<hr />
<div class="row">
  <div class="col text-center">
    <button
      class="btn mx-2"
      (click)="searchByRegion(region)"
      *ngFor="let region of regions"
      [ngClass]="{ 'btn-outline-primary': selectedRegion === region }"
    >
      {{ region }}
    </button>
    <!-- SearchBox -->
    <!-- <shared-search-box
      [placeholder]="'Buscar por región'"
      (onDebounce)="searchByRegion($event)"
    ></shared-search-box> -->
  </div>
</div>
<div class="row">
  <div class="col">
    <!-- Tabla de Resultados -->
    <hr />
    <countries-country-table [countries]="countries"></countries-country-table>
  </div>
</div>
